#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 100px;
  margin-top: 14rem;
  padding-bottom: 2rem;
}

#footer-text {
  text-align: center;
  letter-spacing: 1px;
  color: var(--grey-slate);
}

.socials-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-container > a > img {
  filter: invert(20%);
}
