.header-container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 2.5rem 1rem;
    opacity: 0.75;
    box-shadow: 0 10px 30px -10px #020c1bb3;
}

.icon-container {
    width: 10%;
    height: 100%;
    position: relative;
    z-index: -2
}

.hexagon {
    color: var(--primary-color);
    stroke: var(--secondary-color);
    stroke-width: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    z-index: -1;
}


h1 {
    color: var(--secondary-color);
    position: absolute;
    margin: inherit;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 100;
    font-family: var(--font-mono);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

}

h6 {
    color: var(--white-slate);
    border: solid 2px var(--secondary-color);
    padding: 4px 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 0.4s, transform 0.4s, color 0.4s;
}


h6:hover {
    color: var(--secondary-color);
    box-shadow: 3px 3px;
    transform: translate(-3px, -3px);
}







