.header-container {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 2.5rem 1rem;
    background-color: var(--primary-color);
    box-shadow: 0 10px 30px -10px #020c1bb3;
    transition-property: all; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.5s; 
    z-index: 10;
}

.header-hidden {
    top: -100px;
}

.header-visible {
    top: 0;
}


a {
    text-decoration: none;
}

.icon-container {
    width: 80px;
    height: 100%;
    position: relative;
    z-index: -2;
}

.hexagon {
    color: var(--primary-color);
    stroke: var(--secondary-color);
    stroke-width: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    z-index: -1;
}


.logo-letter {
    color: var(--secondary-color);
    position: absolute;
    margin: inherit;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-family: var(--font-mono);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.6rem;

}

.nav-selections {
    color: var(--white-slate);
    border: solid 2px var(--secondary-color);
    padding: 2px 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 0.4s, transform 0.4s, color 0.4s;
}


.nav-selections:hover {
    color: var(--secondary-color);
    box-shadow: 3px 3px;
    transform: translate(-3px, -3px);
}

.menu {
    display: flex;
}

#long-button {
    color: var(--secondary-color);
    stroke-width: 0;
}









